
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: 'required', class: "field" %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email, placeholder: 'required for account activation', class: "field" %>
  </div>
  <div>
    <%= f.label :image_url, "Image URL" %><br>
    <%= f.text_field :image_url, placeholder: 'optional', class: "field" %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: 'required', class: "field" %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, placeholder: 'required', class: "field" %>
  </div>
  <p></p>
  <div>
    <%= f.submit %>
  </div>
<% end %>
