<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, size: 40 %>
  </div>
 
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, rows: 3, cols: 42 %>
  </div>
  This is a mock order. We wont ask any further information like credit card number and such. You can provide a fake name and address but if you want to test the emailing feature of this app, email address should be real... If you provide a real and valid email address, you will recieve a comfirmational email about your "order". Thaks for testng this app.
  <div class="field">
    <%= f.label :pay_type, "Payment type" %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: "Select a payment type" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Place Order"%>
  </div>
<% end %>
